
#boton-carrito {
  font-size: 2rem;
  background: #FAC8CD;
  border-radius: 2rem;
}
#root > div.css-172bykr {
  background: #8A7090;  
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem 0;
}
#titulo-header {
  margin-top: 5px;
  text-align: center;
  font-size: 1.5rem;
  padding-right: 1rem;
}

.carrito {
  font-size: 2rem;
  cursor: pointer;
}
.numerito {
  font-size: 1.5rem;
}

.titulo {
  font-size: 2.5rem;
  text-align: center;
  margin: 0 5rem;
  border-radius: 2rem;
}

.junto {
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: 2rem;
}
.suma, 
.resta {
  background: #8D3B72;
  color: #ffffff;
  padding: 0 1rem;
  border: 2px solid #89A7A7;
  border-radius:  10% / 50%;
}
.add {
  margin: .5rem;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  background: #8D3B72;
  border: 1px solid #ffffff;
  border-radius: 10% / 50%;  
  transition: .3s;
}
.add:hover {
  background: #411b34; 
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: .3s;
}
.liquidacion {
  font-size: 1rem;
  color:white ;
  border-radius: none;
  border: none;
}
.boton {
  cursor: pointer;
}
.stock {
  padding: 1rem;
}
.contenedor-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 2rem;
}
.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: 1rem;
  border: 1px solid black;
}
.imagen {
  width: 15rem;
  border-radius: 2rem;
  padding-bottom: 1rem;
}